@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --bg: #202020;
}

.link,
.post a {
  text-decoration-line: underline;
  text-decoration-color: rgb(63 63 70);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.link:hover,
.post a:hover {
  text-decoration-color: rgb(212, 212, 216);
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: rgb(244 244 245);
}

.post h1 {
  font-size: 1.5rem;
}

.post h2 {
  font-size: 1.25rem;
}

.post h3 {
  font-size: 1.125rem;
}

.post h4 {
  font-size: 1rem;
}

.post h5 {
  font-size: 0.875rem;
}

.post h6 {
  font-size: 0.75rem;
}

.post p {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.post ul,
.post ol {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.post ul {
  list-style: disc;
}

.post ol {
  list-style: decimal;
}

.post li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.post blockquote {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  border-left: 4px solid #8a8a8a;
  padding-left: 0.75rem;
  font-family: 'Courier New', Courier, monospace;
}

.post code {
  border-radius: 0.4rem;
  color: #c9d1d9;
  background: #0d1117;
  padding: 0.1rem 0.3rem;
}

.post hr {
  border-color: rgb(39 39 42);
  border-width: 2px;
  margin: 32px 0;
}

.g-hr {
  border-color: rgb(39 39 42);
  border-width: 2px;
  margin: 10px 0;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 10px;
}

nav a {
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: rgb(212 212 216);
  color: rgb(10 10 10);
}