@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  border-radius: calc(var(--radius) - 4px);
  text-decoration-line: underline;
  text-decoration-color: rgba(82,82,91,.2);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.link:hover {
  text-decoration-color: rgba(120, 120, 131, 0.4);
}
