/* Default CSS start */
* {
    margin: 0;
    padding: 0;
  }
  
  body{
    font-weight: 400;
    background-color: #121212 ;
    color: #fff ;
    margin: 0;
    padding: 0;
    transition:  0.32s ease-in-out;
  }
  
  a, li, button, ul {
    line-height: normal;
    text-decoration: none;
  }
  
  a:link , a:hover, a:visited, a:active {
    text-decoration: none;
    color: #dbb3fe;
  }
/* Default CSS End*/

/* Navbar CSS Start */
nav.navbar {
    position: fixed;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    z-index: 9999;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  nav.navbar.scrolled {
    background-color: #181818;
  }
  span.navbar-text {
      display: flex;
      align-items: center;
  }
  @media (max-width: 400px){
    nav.navbar .navbar-nav .nav-link.navbar-link{
      font-size: medium;
      letter-spacing: 0px;
    }
  }
  
/* Navbar CSS End */

/* HomePage CSS Start*/
.home-page-cont{
    width: 65vw;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    margin-top: 85px;
    padding: 20px;
    min-height: 500px;
}
.home-page-cont h1{
    font-size: 200%;
    font-weight: 900;
}
.home-page-cont p{
    margin-top: 20px;
    font-size: large;
    color: #f2f2f2;
}
@media (max-width: 800px){
  .home-page-cont{
    width: 85vw;
  }
}
/* HomePage CSS End*/

/* TopAbtMe */
.top-abt-links{
  font-size: xx-large;
  margin: 10px;
}
.top-abt-links a{
  margin: 5px;
}
/* TopAbtMe End*/

/* Spotify Start*/
.spotify-cont{
  display: flex;
  flex-direction: row;
}
.spotify-logo{
  float: left;
  width: 25%;
  padding: 10px;
}
.spotify-track{
  float: right;
  width: 75%;
  padding: 15px;
  text-align: right;
}
/** Spotify End/

/* Project CSS Start*/
.project-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-card{
  width: 55vw;
  left: 50%;
  transform: translate(0%, 0%);
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15psx;
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}
.project-card-img{
  float: left;
  width: 25%;
  padding: 10px;
}
.project-card-img img{
  width: 100%;
  border-radius: 50%;
}
.project-card-text{
  float: right;
  width: 75%;
  padding: 10px;
}
.project-card-text p{
  margin-top: 0;
}
.project-lang p{
  color: #818181;
  font-size: medium;
  margin: 10px;
  margin-left: 0;
}
@media (max-width :800px){
  .project-card{
    width: 80vw;
  }
}
@media (max-width: 500px){
  .project-card{
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .project-card-img{
    margin-left: 10%;
    width: 80%;
    padding: 10px;
  }
  .project-card-text{
    width: 100%;
    padding: 10px;
  }
}
/* Project CSS End */

/*Webkit Style Start*/
::-webkit-scrollbar {
  display: none;
}
/*Webkit Style End*/