/* Default CSS start */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  font-weight: 400;
  background-color: #121212;
  color: #eeeeee;
}
.highlight {
  background-color: #181818;
  color: #808080;
}
a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #808080;
}
.go-back-home {
  font-size: larger;
  color: #818181;
}
.last-updated{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* Default CSS End*/

/*Nav Start*/
nav.navbar {
  position: fixed;
  width: auto;
  border-radius: 50px;
  padding: 12px;
  margin-top: -60px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #808080;
  padding: 0 15px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover{
  color: #eee;
}
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #eee;
}
nav.navbar.active{
  margin-top: 10px;
}
nav.navbar.scrolled {
  background: rgba(91, 91, 91, 0.3);
  box-shadow: 6px 6px 35px rgba(91, 91, 91, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  nav.navbar{
    text-align: center;
    width: 90vw;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: medium;
    letter-spacing: 0px;
  }
}
/* Navbar CSS End */

/*Basic All Pages CSS Start*/
.gallery-page-cont,
.about-me-page-cont,
.contact-page-cont,
.links-page-cont,
.music-page-cont,
.not-page-cont{
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.gallery-page-cont p,
.about-me-page-cont p,
.contact-page-cont p,
.links-page-cont p,
.music-page-cont p,
.not-page-cont p{
  margin-top: 20px;
  font-size: large;
}
.gallery-page-cont h1,
.about-me-page-cont h1,
.contact-page-cont h1,
.links-page-cont h1,
.music-page-cont h1 {
  font-size: 270%;
  font-weight: 900;
  text-decoration: underline wavy #808080 3px;
  margin: 10px 10px 10px 0;
}
@media (max-width: 800px) {
  .not-page-cont,
  .about-me-page-cont,
  .gallery-page-cont,
  .contact-page-cont,
  .links-page-cont,
  .music-page-cont {
    width: 90vw;
    padding: 0;
  }
}
/*Basic All Pages CSS End*/

/*404 Start*/
.not-page-cont {
  top: 50%;
  margin-top: 0;
  transform: translate(-50%, -50%);
}
.not-page-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.not-page-cont h2 {
  font-size: 200%;
  font-weight: 700;
  margin: 10px;
  margin-left: 0;
}
.not-page-cont img{
  border-radius: 10px;
  width: 80%;
}
/*404 End*/

/* HomePage CSS Start*/
.home-page-cont {
  width: 100vw;
  text-align: center;
}
.home{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.home-page-cont h1 {
  font-size: 300%;
  font-weight: bolder;
  margin: 10px 10px 10px 0;
  margin-left: 0;
}
.home-page-cont p {
  margin-top: 20px;
  font-size: larger;
}
@media (max-width: 800px){
  .home-page-cont h1 {
    font-size: 200%;
    font-weight: bolder;
  }
  .home-page-cont p {
    font-size: large;
  }
}
/* HomePage CSS End*/

/* Extra Components CSS Start*/
.lofi-cont {
  min-height: 80px;
  color: #808080;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
}
.music-button {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 10px;
  background-color: #181818;
  font-size: x-large;
  position: fixed;
  animation: bounceAnim 1s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  display: flex;
  margin-right: 10px; 
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.lofi-artist {
  width: calc(100% - 80px); 
  position: fixed;
  right: 10px;
  margin-top: 30px;
}
@keyframes bounceAnim{
  0%, 10% { bottom: 40px; }
  100% { bottom: 10px; }
}
.ano-cont {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: #181818;
  max-width: 340px;
  font-size: x-large;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
.ano-form-cont {
  width: 85%;
  display: flex;
}
.ano-form-cont textarea {
  margin-top: auto;
  min-height: 25px;
  flex: 1;
  background-color: #181818;
  color: #eee;
  resize: vertical;
  outline: none;
  border: none;
}
.ano-button-cont {
  width: 10%;
  background-color: #181818;
  color: #808080;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 800px) {
  .music-button{
    display: none;
  }
}
/* Extra Components CSS End*/

/*Gallery Start*/
.image-gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 33%;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
}
.image-card {
  border-radius: 5px;
  overflow: hidden;
  min-height: 100px;
}
.image-location {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5px;
  font-size: 14px;
  color: #818181;
}
.image-gallery img{
  width: 100%;
  border-radius: 10px;
  cursor: zoom-in;
}
.image-gallery img:hover{
  filter: opacity(0.8);
}
.model {
  position: absolute;
  left: calc(-17.5vw + 18px);
  width: 100vw;
  height: calc(100vh - 45px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(0px);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open{
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
.model img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}
.model.open img:hover{
  filter: opacity(1);
  cursor: default;
}
.model.open svg{
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  font-size: x-large;
  padding: 5px;
  color: #808080;
  cursor: pointer;
}
@media (max-width: 800px) {
  .model{
    left: -5vw;
  }
  .image-gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-width: 49%;
    -webkit-column-width: 49%;
    -moz-column-width: 49%;
    transition: all 0.3s ease-in-out;
  }
}
/*Gallery End*/

/* AboutMePage CSS Start*/
.about-me-page-cont img {
  width: 100%;
  border-radius: 10px;
}
/* AboutMePage CSS End*/

/* Spotify Start*/
.spotify-track {
  display: flex;
  flex-direction: row;
  background: #181818;
  color: #808080;
  border-radius: 10px;
  max-width: 350px;
  margin-top: 20px;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: calc(80% - 10px);
  padding-left: 10px;
}
.song-title {
  font-size: medium;
  font-weight: 700;
}
.song-artist {
  font-weight: 500;
  margin-bottom: 4px;
}
.song-img {
  width: 20%;
  float: left;
}
.song-img img {
  width: 100%;
  border-radius: 5px;
}
/** Spotify End/

/*Techs Start*/
.techs-cont {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: #808080;
  background-color: #181818;
  border-radius: 5px;
}
.techs-icon {
  margin-right: 15px;
  font-size: x-large;
}
/*Techs End*/

/* Project CSS Start*/
.projects {
  margin-bottom: 20px;
}
.project-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-card {
  width: 100%;
  box-sizing: border-box;
  left: 50%;
  transform: translate(0%, 0%);
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15psx;
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}
.project-card-img {
  float: left;
  width: 10%;
  padding: 10px;
}
.project-card-img img {
  width: 100%;
  border-radius: 10px;
}
.project-card-text {
  float: right;
  width: 90%;
  padding: 10px;
}
.project-card-text p {
  margin-top: 0;
}
.project-lang p {
  color: #818181;
  font-size: medium;
  margin: 10px;
  margin-left: 0;
}
@media (max-width: 500px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }
  .project-card-img {
    width: 25%;
    padding: 10px;
  }
  .project-card-text {
    width: 100%;
    padding: 10px;
  }
}
/* Project CSS End */

/*Github start*/
.gh-repo-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%; 
}
.github-repo {
  background-color: #181818;
}
.github-repo-grad,
.github-repo{
  width: calc(50% - 20px);
  height: 150px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.github-repo-grad{
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #181818 8%, #202020 38%, #181818 54%);
  background-size: 1000px 640px;
  border-radius: 10px;
  text-align: center;
}
.github-repo:nth-child(odd), .github-repo-grad:nth-child(odd) {
  margin-right: 10px;
}
.github-repo:nth-child(even), .github-repo-grad:nth-child(even) {
  margin-left: 10px;
}
.repo-header {
  position: relative;
  font-size: larger;
  font-weight: 500;
  top: 10px;
  width: 100%;
  padding-left: 10px;
}
.repo-description {
  width: 100%;
  position: relative;
  padding-left: 10px;
}
.repo-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.repo-language,.repo-forks {
  margin-right: 5px;
}
.err-grad-text{
  position: relative;
}
@media (max-width: 450px) {
  .gh-repo-cont {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .github-repo {
    width: 95%;
    margin: 10px;
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    margin: 10px;
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 950px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    width: 75%;
    margin: 10px;
  }
}
@media (min-width: 950px) and (max-width: 1150px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    width: 65%;
    margin: 10px;
  }
}
/*GitHub End*/

/*Quote CSS start*/
.gita-quote {
  margin-top: 25px;
  background-color: #181818;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.quote-text {
  margin-top: 10px;
  color: #808080;
}
.quote-auth {
  margin-top: 20px;
  color: #808080;
}
/*Quote End*/

/*Contact Page Start*/
.contact-form {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  padding: 10px;
  max-width: 700px;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50% , 0%);
}
.contact-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.contact-form label input,
.contact-form label textarea {
  margin-top: 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
  background: transparent;
  color: #eee;
  resize: vertical;
}
.contact-form label textarea {
  min-height: 100px;
}
.contact-form button[type='submit'] {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #808080;
  color: #121212;
  font-weight: 800;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.contact-redirect-heading {
  text-align: center;
}
/*Contact Page End*/

/*Links Page Strat*/
.links-cont{
  width: 100%;
  background-color: #181818;
  min-height: 100px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.links-link{
  box-sizing: border-box;
  background-color: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.links-link:hover{
  background-color: #121212;
}
.links-link-text{
  width: 80%;
  float: left;
  padding: 10px;
}
.links-link-icon{
  width: 20%;
  float: right;
  text-align: right;
  padding: 10px;
}
@media (max-width: 800px) {
  .username{
    display: none;
  }
}
/*Links Page End*/

/*Music Page Start*/
.top-tracks-cont,.top-artists-cont, .recently-played-cont{
  width: 100%;
  background-color: #181818;
  min-height: 100px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-tracks-div,.top-artists-div,.recently-played-div{
  background-color: #161616;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-tracks-div:hover,.top-artists-div:hover,.recently-played-div:hover{
  background-color: #121212;
}
.top-tracks-text,.top-artists-text,.recently-played-text{
  width: 80%;
  float: left;
  padding: 10px;
}
.top-tracks-plays,.top-artists-plays,.recently-played-time{
  width: 20%;
  float: right;
  text-align: right;
  padding: 10px;
}
@media (max-width: 800px) {
  .recently-played-time,.top-tracks-plays,.top-artists-plays{
    display: none;
  }
  .recently-played-text,.top-tracks-text,.top-artists-text{
    width: 100%;
  }
}
/*Music page End*/

/*Footer Start*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.left {
  float: left;
}
.left p{
  margin-top: 0;
}
.right {
  float: right;
}
.right a {
  margin-right: 10px;
  font-size: x-large;
}
@media (max-width: 800px) {
  footer {
    flex-wrap: wrap;
    padding: 10px;
  }
  .left,
  .right {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
}
/*Footer End*/

/*Gradient loading start*/
.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #181818 8%, #202020 38%, #181818 54%);
  background-size: 1000px 640px;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}
@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
.text {
  height: 18px;
  width: 60px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 6px;
}
/*Gradient loading end*/

/*Webkit Style Start*/
::-webkit-scrollbar {
  display: none;
}
::selection {
  color: #181818;
  background: #808080;
}
/*Webkit Style End*/




/*OMG did you just scrolled to line no.883??*/

/*I just love you!! Thanks for scrolling <3*/