/* Default CSS start */
* {
    margin: 0;
    padding: 0;
  }
  
  body{
    font-weight: 400;
    background-color: #121212 ;
    color: #fff ;
    margin: 0;
    padding: 0;
    transition:  0.32s ease-in-out;
  }
  
  p, a, li, button, ul {
    line-height: normal;
    text-decoration: none;
  }
  
  a:link , a:hover, a:visited, a:active {
    text-decoration: none;
    color: purple;
  }
/* Default CSS End*/

/* Navbar CSS Start */
nav.navbar {
    position: fixed;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    z-index: 9999;
  }
  nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #181818;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
  }
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  span.navbar-text {
      display: flex;
      align-items: center;
  }
  
/* Navbar CSS End */

/* TopAbtMe CSS Start*/
.top-abt-me{
    width: 65vw;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    margin-top: 85px;
    padding: 20px;
}
.top-abt-me h1{
    font-size: 200%;
    font-weight: 900;
}
.top-abt-me p{
    margin-top: 20px;
    font-size: large;
    color: #f2f2f2;
}
.top-abt-links{
  font-size: xx-large;
  margin: 10px;
}
.top-abt-links a{
  margin: 5px;
}
/* TopAbtMe CSS End*/