/* Default CSS start */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}
body {
  font-weight: 400;
  background-color: #121212;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  transition: 0.7s ease-in-out;
}
.highlight {
  background-color: #181818;
  color: #dbb3fe;
}
a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #dbb3fe;
}
/* Default CSS End*/

/*Nav Start*/
nav.navbar {
  position: fixed;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  z-index: 1;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #dbb3fe;
  letter-spacing: 0.8px;
  padding: 0 15px;
  font-size: 18px;
  opacity: 0.75;
  border-radius: 5px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: #eee;
}
nav.navbar.scrolled {
  background: rgba(24, 24, 24, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(24, 24, 24, 0.3);
}
span.navbar-text {
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: medium;
    letter-spacing: 0px;
  }
}
/* Navbar CSS End */

/* HomePage CSS Start*/
.home-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 85px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.home-page-cont h1 {
  font-size: 400%;
  font-weight: 900;
  margin: 10px;
  margin-left: 0;
}
.moving-gradient {
  background: linear-gradient(-45deg, #8b5cf6, #d782e7, #ffc8dd, #bfe9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
.music-button{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #181818;
  color: #dbb3fe;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: x-large;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: bounceAnim 1s cubic-bezier(.63,.09,.75,.46) infinite alternate;
  z-index: 1000;
}
@keyframes bounceAnim{
  0%, 10% { bottom: 40px; }
  100% { bottom: 10px; }
}
.ano-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background-color: #181818;
  max-width: 340px;
  font-size: x-large;
}
.ano-form-cont {
  width: 85%;
  display: flex;
}
.ano-form-cont textarea {
  margin-top: 5px;
  min-height: 20px;
  flex: 1;
  background-color: #181818;
  color: #eee;
  resize: vertical;
  outline: none;
  border: none;
}
.ano-button-cont {
  width: 10%;
  background-color: #181818;
  color: #dbb3fe;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 800px) {
  .home-page-cont {
    width: 90vw;
    padding: 0;
    min-height: 700px;
  }
}
.top-abt-links {
  font-size: xx-large;
  margin: 10px;
}
.top-abt-links a {
  margin: 5px;
}
/* HomePage CSS End*/

/*Gallery Start*/
.gallery-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.gallery-page-cont h1 {
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
}
.gallery-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
.image-gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 33%;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
}
.image-card {
  border-radius: 5px;
  overflow: hidden;
}
.image-location {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5px;
  font-size: 14px;
  color: #818181;
}
.image-gallery img{
  width: 100%;
  border-radius: 10px;
  cursor: zoom-in;
}
.image-gallery img:hover{
  filter: opacity(0.8);
}
.model {
  position: absolute;
  left: calc(-17.5vw + 20px);
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(0px);
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  border-radius: 10px;
  z-index: 999;
}
.model.open{
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
.model img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}
.model.open img:hover{
  filter: opacity(1);
  cursor: default;
}
.model.open svg{
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  font-size: x-large;
  padding: 5px;
  color: #dbb3fe;
  cursor: pointer;
}
@media (max-width: 800px) {
  .gallery-page-cont {
    width: 90vw;
    padding: 0;
  }
  .model{
    left: -5vw;
  }
  .image-gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-width: 49%;
    -webkit-column-width: 49%;
    -moz-column-width: 49%;
    transition: all 0.3s ease-in-out;
  }
}
/*Gallery End*/

/* AboutMePage CSS Start*/
.about-me-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.about-me-page-cont img {
  width: 100%;
  border-radius: 10px;
}
.about-me-page-cont h1 {
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
}
.about-me-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
@media (max-width: 800px) {
  .about-me-page-cont {
    width: 90vw;
    padding: 0;
  }
}
/* AboutMePage CSS End*/

/* Spotify Start*/
.spotify-track {
  display: flex;
  flex-direction: row;
  background: #181818;
  border-radius: 10px;
  max-width: 350px;
  padding: 5px;
}
.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  float: right;
  width: calc(80% - 10px);
  padding-left: 10px;
}
.song-title {
  font-size: medium;
  font-weight: 700;
}
.song-artist {
  font-weight: 500;
  margin-bottom: 4px;
}
.song-img {
  width: 20%;
  float: left;
}
.song-img img {
  width: 100%;
  border-radius: 5px;
}
/** Spotify End/

/*Techs Start*/
.techs-cont {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  color: #dbb3fe;
  background-color: #181818;
  border-radius: 5px;
}
.techs-icon {
  margin-right: 15px;
  font-size: x-large;
}
/*Techs End*/

/* Project CSS Start*/
.projects {
  margin-bottom: 20px;
}
.project-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-card {
  width: 100%;
  box-sizing: border-box;
  left: 50%;
  transform: translate(0%, 0%);
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15psx;
  padding: 20px;
  background-color: #181818;
  border-radius: 10px;
}
.project-card-img {
  float: left;
  width: 10%;
  padding: 10px;
}
.project-card-img img {
  width: 100%;
  border-radius: 10px;
}
.project-card-text {
  float: right;
  width: 90%;
  padding: 10px;
}
.project-card-text p {
  margin-top: 0;
}
.project-lang p {
  color: #818181;
  font-size: medium;
  margin: 10px;
  margin-left: 0;
}
@media (max-width: 500px) {
  .project-card {
    display: flex;
    flex-direction: column;
  }
  .project-card-img {
    width: 25%;
    padding: 10px;
  }
  .project-card-text {
    width: 100%;
    padding: 10px;
  }
}
/* Project CSS End */

/*Github start*/
.gh-repo-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%; 
}
.github-repo {
  width: calc(50% - 20px);
  height: 150px;
  background-color: #181818;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.github-repo:nth-child(odd) {
  margin-right: 10px;
}

.github-repo:nth-child(even) {
  margin-left: 10px;
}
.repo-header {
  position: relative;
  font-size: larger;
  font-weight: 500;
  top: 10px;
  left: 10px;
}
.repo-description {
  position: relative;
  left: 10px;
  top: -5px;
}
.repo-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.repo-language {
  margin-right: 5px;
}
.repo-forks {
  margin-right: 5px;
}
@media (max-width: 450px) {
  .gh-repo-cont {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .github-repo {
    width: 95%;
    margin: 10px;
  }
}
@media (min-width: 450px) and (max-width: 600px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    margin: 10px;
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 950px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    width: 75%;
    margin: 10px;
  }
}
@media (min-width: 950px) and (max-width: 1150px) {
  .gh-repo-cont {
    flex-direction: column;
  }
  .github-repo {
    width: 65%;
    margin: 10px;
  }
}
/*GitHub End*/

/*Quote CSS start*/
.gita-quote {
  margin-top: 25px;
  background-color: #181818;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.quote-text {
  margin-top: 10px;
}
.quote-auth {
  margin-top: 20px;
}
/*Quote End*/

/*Contact Page Start*/
.contact-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.con{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.con-left{
  width: 50%;
  float: left;
}
.con-right{
  width: 50%;
  float: right;
  text-align: right;
  padding-right: 10px;
}
@media (max-width: 1200px){
  .con{
    flex-direction: column;
  }
  .con-left{
    width: 100%;
    float: left;
  }
  .con-right{
    width: 100%;
    float: right;
    text-align: left;
    padding-left: 10px;
  }
}
.contact-page-cont h1 {
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
}
.contact-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-form label input,
.contact-form label textarea {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #181818;
  color: #eee;
  resize: vertical;
}
.contact-form label textarea {
  min-height: 100px;
}
.contact-form button[type='submit'] {
  width: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #dbb3fe;
  color: #121212;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.go-back-home {
  font-size: larger;
  color: #818181;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: blink 1.5s ease-in-out infinite;
  margin-left: 5px;
}
@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: inherit;
  }
  100% {
    border-color: transparent;
  }
}
.online {
  background-color: #22a55b;
}
.idle {
  background-color: #f0b232;
}
.dnd {
  background-color: #f23f43;
}
.offline {
  background-color: #81848f;
}
@media (max-width: 800px) {
  .contact-page-cont {
    width: 90vw;
    padding: 0;
  }
}
.contact-redirect-heading {
  text-align: center;
}
/*Contact Page End*/

/*Links Page Strat*/
.links-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.links-page-cont h1 {
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
}
.links-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
.links-cont{
  width: 100%;
  background-color: #181818;
  min-height: 100px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.links-link{
  background-color: #121212;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.links-link-text{
  width: 80%;
  float: left;
  padding: 10px;
}
.links-link-icon{
  width: 20%;
  float: right;
  text-align: right;
  padding: 10px;
}
@media (max-width: 800px) {
  .links-page-cont {
    width: 90vw;
    padding: 0;
  }
  .username{
    display: none;
  }
}
/*Links Page End*/

/*Music Page Start*/
.music-page-cont {
  width: 65vw;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, 0%);
  position: absolute;
  padding: 20px;
}
.music-page-cont h1 {
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
}
.music-page-cont p {
  margin-top: 20px;
  font-size: large;
  color: #f2f2f2;
}
.top-tracks-cont,.top-artists-cont, .recently-played-cont{
  width: 100%;
  background-color: #181818;
  min-height: 100px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-tracks-div,.top-artists-div,.recently-played-div{
  background-color: #121212;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-tracks-text,.top-artists-text,.recently-played-text{
  width: 80%;
  float: left;
  padding: 10px;
}
.top-tracks-plays,.top-artists-plays,.recently-played-time{
  width: 20%;
  float: right;
  text-align: right;
  padding: 10px;
}
@media (max-width: 800px) {
  .music-page-cont {
    width: 90vw;
    padding: 0;
  }
  .recently-played-time,.top-tracks-plays,.top-artists-plays{
    display: none;
  }
  .recently-played-text,.top-tracks-text,.top-artists-text{
    width: 100%;
  }
}
/*Music page End*/

/*Footer Start*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.left {
  float: left;
}
.left p{
  margin-top: 0;
}
.right {
  float: right;
}
.right a {
  margin-right: 10px;
  font-size: x-large;
}
@media (max-width: 800px) {
  footer {
    flex-wrap: wrap;
    padding: 10px;
  }
  .left,
  .right {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
}
/*Footer End*/

/*Webkit Style Start*/
::-webkit-scrollbar {
  display: none;
}
::selection {
  color: #181818;
  background: #dbb3fe;
}
/*Webkit Style End*/
